<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="is-preload">
    <div id="page-wrapper">


        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li ><a href="frontpage.html">首頁</a></li>
                <li><a href="Newsview.html">新聞查看</a></li>
                <li><a href="Searchview.html">統計資料</a></li>
                <li><a href="Druginfolist.html">毒品介紹</a></li>
                <li ><a href="Mgrnewsview.html">新聞管理</a></li>
                <li class="current"><a href="Mgrsearchview.html">統計資料管理</a></li>
                <li><a class="btn" href="login.html">登入</a></li>
            </ul>
        </nav>

        <!-- Main -->
            <section id="main">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="content">

                                <!-- Content -->

                                    
                                        <article class="box page-content">

                                            <header>
                                                <div style="display: flex;">
                                                    <div style="margin-right: 8px; margin-top: 5px;"><h4>年份</h4></div>
                                                    <div>  <select class="addselect">
                                                            <option value="">2019</option>
                                                            <option value="">2018</option>
                                                            <option value="">2017</option>
                                                            <option value="">2016</option>
                                                            <option value="">2015</option>
                                                        </select>
                                                    </div> 
                                                    
                                                </div>
                                            </header>
                                            <section>
                                                
                                                    <div style="display: flex;margin-left: 23%; ">
                                                        
                                                        <div style="margin-right: 30%;"><h5>年齡層</h5></div>
                                                        <div ><h5>人數</h5></div>
                                                    </div>
                                                <div style="margin-left: 24%;">
                                                    <div style="display: flex; ">
                                                        <div style="margin-right: 20%;"><h5>0-19</h5></div>
                                                        <div><input type="search" class="addsearch"></div>
                                                    </div>
                                                    <div style="display: flex;">
                                                        <div style="margin-right: 19%;"><h5>20-29</h5></div>
                                                        <div><input type="search" class="addsearch"></div>
                                                    </div>
                                                    <div style="display: flex;">
                                                        <div style="margin-right: 19%;"><h5>30-39</h5></div>
                                                        <div><input type="search" class="addsearch"></div>
                                                    </div>
                                                    <div style="display: flex;">
                                                        <div style="margin-right: 19%;"><h5>40-49</h5></div>
                                                        <div><input type="search" class="addsearch"></div>
                                                    </div>
                                                    <div style="display: flex;">
                                                        <div style="margin-right: 19%;"><h5>50-59</h5></div>
                                                        <div><input type="search" class="addsearch"></div>
                                                    </div>
                                                    <div style="display: flex;">
                                                        <div style="margin-right: 19%;"><h5>&nbsp;&nbsp;&nbsp;>60</h5></div>
                                                        <div><input type="search" class="addsearch"></div>
                                                    </div>
                                                    <div style="display: flex;margin-top: 5%; ">
                                                        <button type="submit" style="margin-right: 15%;">確認修改</button>
                                                        <button type="submit">取消修改</button>
                                                    </div>
                                                </div>

                                                


                                                
 
                                            </section >
                                        </article>
                                    

                            </div>
                        </div>
                        <div class="col-12">

                            <!-- Features -->
                                <section class="box features">
                                
                                    
                                </section>

                        </div>
                    </div>
                </div>
            </section>

        <!-- Footer -->
            <footer id="footer">
                
            </footer>

    </div>
    <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.dropotron.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

</body>
</html>